{
    "openapi": "3.0.0",
    "info": {
      "title": "Medical Record Audit API Documentation",
      "version": "0.0.1",
      "description": "เอกสาร API สำหรับการจัดการ Medical Record Audit แอปพลิเคชันที่ช่วยในการจัดระเบียบงานและติดตามงานที่ต้องทำ สามารถเพิ่ม, แก้ไข, ลบ และเรียกดูรายการงานได้"
    },
    "servers": [
      {
        "url": "http://apiv2.atec-inter.ac.th/",
        "description": "เซิร์ฟเวอร์หลัก"
      },
      {
        "url": "http://localhost:5000/",
        "description": "เซิร์ฟเวอร์ทดสอบในเครื่อง (localhost)"
      }
    ],
    "tags": [
      {
        "name": "Role",
        "description": "Endpoints สำหรับการจัดการตาราง roles( ตารางเก็บข้อมูลสิทธิ์ของ User )"
      },
      {
        "name": "Auth",
        "description": "Endpoints สำหรับการยืนยันตัวตนและการจัดการสิทธิ์ เช่น Login, Logout"
      },
      {
        "name": "Province",
        "description": "Endpoints สำหรับการจัดการตาราง provinces( ตารางเก็บข้อมูลจังหวัด )"
      },
      {
        "name": "District",
        "description": "Endpoints สำหรับการจัดการตาราง districts( ตารางเก็บข้อมูลอำเภอ )"
      },
      {
        "name": "SubDistrict",
        "description": "Endpoints สำหรับการจัดการตาราง sub_districts( ตารางเก็บข้อมูลตำบล )"
      },
      {
        "name": "Prefix",
        "description": "Endpoints สำหรับการจัดการตาราง prefixes( ตารางเก็บข้อมูลคำนำหน้า )"
      },
      {
        "name": "Gender",
        "description": "Endpoints สำหรับการจัดการตาราง genders( ตารางเก็บข้อมูลเพศ )"
      },
      {
        "name": "EnrollmentYear",
        "description": "Endpoints สำหรับการจัดการตาราง enrollment_years( ตารางเก็บข้อมูลปีการศึกษา )"
      },
      {
        "name": "Position",
        "description": "Endpoints สำหรับการจัดการตาราง positions( ตารางเก็บข้อมูลตำแหน่ง )"
      },
      {
        "name": "StudentStatus",
        "description": "Endpoints สำหรับการจัดการตาราง student_status( ตารางเก็บสถานะของนักศึกษา )"
      },
      {
        "name": "TeacherStatus",
        "description": "Endpoints สำหรับการจัดการตาราง teacher_status( ตารางเก็บสถานะของอาจารย์ )"
      },
      {
        "name": "EducationLevel",
        "description": "Endpoints สำหรับการจัดการตาราง education_levels( ตารางเก็บข้อมูลระดับการศึกษา )"
      }
    ],
    "paths": {
      "/apiv2/authRegister": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "Generate User",
          "description": "สร้างข้อมูล User สำหรับการ Login",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "1234567891231",
                      "description": "เลขบัตรประจำตัวประชาชน 13 หลัก"
                    },
                    "role": {
                      "type": "integer",
                      "example": [ 1, 2 ],
                      "description": "สิทธิ์การเข้าใช้งานบันทึกเป็นตัวเลขตาม ID ของ Table roles"
                    },
                    "password": {
                      "type": "string",
                      "example": "@Aa123456",
                      "description": "ตัวเลข อักขระพิเศษ ภาษาอังกฤษตัวพิมพ์เล็ก-ใหญ่ อย่างน้อยรวมกัน 8 ตัว"
                    },
                    "created_by": {
                      "type": "string",
                      "example": "ADMIN",
                      "description": "ชื่อผู้บันทึกข้อมูลดึงจาก User ที่ Login เข้ามา"
                    },
                    "updated_by": {
                      "type": "string",
                      "example": "ADMIN",
                      "description": "ชื่อผู้อัพเดทข้อมูลดึงจาก User ที่ Login เข้ามา"
                    }
                  },
                  "required": [
                    "username",
                    "role",
                    "password",
                    "created_by",
                    "updated_by"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "บันทึกข้อมูลเสร็จสิ้น"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "กรุณากรอกข้อมูลให้ครบถ้วน! || รหัสผ่านต้องมีตัวอักษรอย่างน้อย 8 ตัวและมีอักขระพิเศษ ภาษาอังกฤษตัวพิมพ์เล็กและใหญ่ รวมทั้งตัวเลขด้วย! || กรุณาเพิ่มข้อมูลประจำตัวก่อน!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "สร้างข้อมูลที่ซ้ำกัน",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": ["Username ซ้ำกรุณาตรวจสอบข้อมูล!!"]
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/authLogin": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "เข้าสู่ระบบ",
          "description": "ตรวจสอบ username และ password",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "1234567891234",
                      "description": "เลขบัตรประจำตัวประชาชน 13 หลัก"
                    },
                    "password": {
                      "type": "string",
                      "format": "password",
                      "example": "P@ssw0rd!",
                      "description": "รหัสผ่านต้องมีตัวพิมพ์ใหญ่ พิมพ์เล็ก ตัวเลข และอักขระพิเศษ"
                    }
                  },
                  "required": [
                    "username",
                    "password"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "กรุณากรอกข้อมูลให้ครบ! || ไม่พบ User นี้ในระบบกรุณาตรวจสอบข้อมูล! || รหัสผ่านไม่ถูกต้องกรุณาตรวจสอบรหัสผ่าน! || User นี้ไม่ได้ถูกเปิดให้ใช้งานหากต้องการใช้งานกรุณาติดต่อ Admin ของระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/authVerify": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "ตรวจสอบ Token",
          "description": "ตรวจสอบ Token เพื่อยืนยันตัวตน โดย Token ส่งผ่าน Header",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "object",
                        "properties": {
                          "valid": {
                            "type": "boolean",
                            "example": true
                          },
                          "user_info": {
                            "type": "object",
                            "properties": {
                              "first_name": { "type": "string", "example": "user" },
                              "last_name": { "type": "string", "example": "user" },
                              "role": { 
                                "type": "array", 
                                "items": { "type": "string" }, 
                                "example": ["student"] 
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "boolean",
                        "example": "false"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "ต้องยืนยันตัวตน",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "boolean",
                        "example": "false"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "false"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/authLogout": {
        "post": {
          "tags": [
            "Auth"
          ],
          "summary": "สำหรับ Logout ออกจากระบบ",
          "description": "สำหรับ Logout ออกจากระบบ และยืนยันตัวตน โดย Token ส่งผ่าน Header ก่อนออกจากระบบ",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Logout_Successfully!!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Logout Failed!!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "ต้องยืนยันตัวตน",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "TokenExpiredError || JsonWebTokenError"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "false"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/getRole": {
        "get": {
          "tags": [
            "Role"
          ],
          "summary": "สำหรับดึงข้อมูล Role",
          "description": "สำหรับดึงข้อมูลทั้งหมดของ Role",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "role_name": {
                              "type": "string",
                              "example": "admin"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-02-19T08:55:57.000Z"
                            },
                            "created_by": {
                              "type": "string",
                              "example": "ADMIN"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-02-19T08:55:57.000Z"
                            },
                            "updated_by": {
                              "type": "string",
                              "example": "ADMIN"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Server ไม่สามารถประมวลผลคำร้องขอเนื่องจากข้อผิดพลาดของ Client",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "No data found"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/addRole": {
        "post": {
          "tags": [
            "Role"
          ],
          "summary": "สำหรับบันทึกข้อมูล Role",
          "description": "สำหรับบันทึกข้อมูลทั้งหมดของ Role",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role_name": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "created_by": {
                      "type": "string",
                      "example": "ADMIN"
                    },
                    "updated_by": {
                      "type": "string",
                      "example": "ADMIN"
                    }
                  },
                  "required": [
                    "role_name",
                    "created_by",
                    "updated_by"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "บันทึกข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!, กรุณากรอกข้อมูลให้ครบถ้วน! || บันทึกข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "สร้างข้อมูลที่ซ้ำกัน",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (role_name) สิทธิ์การใช้งาน) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (description) สิทธิ์การใช้งาน) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/updateRole/{id}": {
        "put": {
          "tags": [
            "Role"
          ],
          "summary": "สำหรับอัพเดทข้อมูล Role",
          "description": "สำหรับอัพเดทข้อมูลทั้งหมดของ Role",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ Role ที่ต้องการอัพเดท"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role_name": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "updated_by": {
                      "type": "string",
                      "example": "ADMIN"
                    }
                  },
                  "required": [
                    "role_name",
                    "updated_by"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "อัพเดทข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน || อัพเดทข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลสิทธิ์การใช้งาน) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "สร้างข้อมูลที่ซ้ำกัน",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (role_name) สิทธิ์การใช้งาน) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (description) สิทธิ์การใช้งาน) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/removeRole/{id}": {
        "delete": {
          "tags": [
            "Role"
          ],
          "summary": "สำหรับลบข้อมูล Role",
          "description": "สำหรับลบข้อมูลทั้งหมดของ Role",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ Role ที่ต้องการลบ"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ลบข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || ลบข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลสิทธิ์การใช้งาน) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/getProvince": {
        "get": {
          "tags": [
            "Province"
          ],
          "summary": "สำหรับดึงข้อมูล Province",
          "description": "สำหรับดึงข้อมูลทั้งหมดของ Province",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "code": {
                              "type": "smallint",
                              "example": "10"
                            },
                            "name_in_thai": {
                              "type": "string",
                              "example": "กรุงเทพมหานคร"
                            },
                            "name_in_english": {
                              "type": "string",
                              "example": "Bangkok"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Server ไม่สามารถประมวลผลคำร้องขอเนื่องจากข้อผิดพลาดของ Client",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "No data found"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/addProvince": {
        "post": {
          "tags": [
            "Province"
          ],
          "summary": "สำหรับบันทึกข้อมูล Province",
          "description": "สำหรับบันทึกข้อมูลทั้งหมดของ Province",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "smallint",
                      "example": "10"
                    },
                    "name_in_thai": {
                      "type": "string",
                      "example": "กรุงเทพมหานคร"
                    },
                    "name_in_english": {
                      "type": "string",
                      "example": "Bangkok"
                    }
                  },
                  "required": [
                    "code",
                    "name_in_thai",
                    "name_in_english"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "บันทึกข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน! || บันทึกข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (code) ข้อมูลจังหวัด) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_thai) ข้อมูลจังหวัด) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_english) ข้อมูลจังหวัด) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/updateProvince/{id}": {
        "put": {
          "tags": [
            "Province"
          ],
          "summary": "สำหรับอัพเดทข้อมูล Province",
          "description": "สำหรับอัพเดทข้อมูลทั้งหมดของ Province",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ Province ที่ต้องการอัพเดท"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "smallint",
                      "example": "10"
                    },
                    "name_in_thai": {
                      "type": "string",
                      "example": "กรุงเทพมหานคร"
                    },
                    "name_in_english": {
                      "type": "string",
                      "example": "Bangkok"
                    }
                  },
                  "required": [
                    "code",
                    "name_in_thai",
                    "name_in_english"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "อัพเดทข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน || อัพเดทข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลจังหวัด) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (code) ข้อมูลจังหวัด) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_thai) ข้อมูลจังหวัด) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_english) ข้อมูลจังหวัด) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/removeProvince/{id}": {
        "delete": {
          "tags": [
            "Province"
          ],
          "summary": "สำหรับลบข้อมูล Province",
          "description": "สำหรับลบข้อมูลทั้งหมดของ Province",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ Province ที่ต้องการลบ"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ลบข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || ไม่มี (ข้อมูลจังหวัด) อยู่ในระบบ! || กรุณาลบข้อมูลที่เกี่ยวข้องในข้อมูลอำเภอก่อนลบข้อมูลจังหวัด! || ลบข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ! || Token ไม่ถูกต้อง! || Token นี้ไม่มีสิทธิ์การใช้งาน! || TokenExpiredError! || JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลจังหวัด) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/getDistrict": {
        "get": {
          "tags": [
            "District"
          ],
          "summary": "สำหรับดึงข้อมูล District",
          "description": "สำหรับดึงข้อมูลทั้งหมดของ District",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "code": {
                              "type": "smallint",
                              "example": "1001"
                            },
                            "name_in_thai": {
                              "type": "string",
                              "example": "เขต พระนคร"
                            },
                            "name_in_english": {
                              "type": "string",
                              "example": "Phra Nakon"
                            },
                            "province_id": {
                              "type": "int",
                              "example": "1"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Server ไม่สามารถประมวลผลคำร้องขอเนื่องจากข้อผิดพลาดของ Client",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "No data found"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/addDistrict": {
        "post": {
          "tags": [
            "District"
          ],
          "summary": "สำหรับบันทึกข้อมูล District",
          "description": "สำหรับบันทึกข้อมูลทั้งหมดของ District",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "smallint",
                      "example": "1001"
                    },
                    "name_in_thai": {
                      "type": "string",
                      "example": "เขต พระนคร"
                    },
                    "name_in_english": {
                      "type": "string",
                      "example": "Phra Nakon"
                    },
                    "province_id": {
                      "type": "int",
                      "example": "1"
                    }
                  },
                  "required": [
                    "code",
                    "name_in_thai",
                    "name_in_english",
                    "province_id"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "บันทึกข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน! || บันทึกข้อมูลไม่สำเร็จ! || ไม่มี (ข้อมูลจังหวัด) ที่ท่านเลือกกรุณาเพิ่มข้อมูลจังหวัดก่อนค่อยมาเพิ่มข้อมูลอำเภอ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (code) ข้อมูลอำเภอ) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_thai) ข้อมูลอำเภอ) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_english) ข้อมูลอำเภอ) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/updateDistrict/{id}": {
        "put": {
          "tags": [
            "District"
          ],
          "summary": "สำหรับอัพเดทข้อมูล District",
          "description": "สำหรับอัพเดทข้อมูลทั้งหมดของ District",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ District ที่ต้องการอัพเดท"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "smallint",
                      "example": "1002"
                    },
                    "name_in_thai": {
                      "type": "string",
                      "example": "เขต ดุสิต"
                    },
                    "name_in_english": {
                      "type": "string",
                      "example": "Dusit"
                    },
                    "province_id": {
                      "type": "int",
                      "example": "1"
                    }
                  },
                  "required": [
                    "code",
                    "name_in_thai",
                    "name_in_english",
                    "province_id"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "อัพเดทข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน || อัพเดทข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลอำเภอ) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (code) ข้อมูลอำเภอ) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_thai) ข้อมูลอำเภอ) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_english) ข้อมูลอำเภอ) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/removeDistrict/{id}": {
        "delete": {
          "tags": [
            "District"
          ],
          "summary": "สำหรับลบข้อมูล District",
          "description": "สำหรับลบข้อมูลทั้งหมดของ District",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ District ที่ต้องการลบ"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ลบข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณาลบข้อมูลที่เกี่ยวข้องในข้อมูลตำบลก่อนลบข้อมูลอำเภอ! || ลบข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ! || Token ไม่ถูกต้อง! || Token นี้ไม่มีสิทธิ์การใช้งาน! || TokenExpiredError! || JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลอำเภอ) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/getSubDistrict": {
        "get": {
          "tags": [
            "SubDistrict"
          ],
          "summary": "สำหรับดึงข้อมูล SubDistrict",
          "description": "สำหรับดึงข้อมูลทั้งหมดของ SubDistrict",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "code": {
                              "type": "smallint",
                              "example": "100101"
                            },
                            "name_in_thai": {
                              "type": "string",
                              "example": "พระบรมมหาราชวัง"
                            },
                            "name_in_english": {
                              "type": "string",
                              "example": "Phra Borom Maha Ratchawang"
                            },
                            "latitude": {
                              "type": "float",
                              "example": "13.751"
                            },
                            "longitude": {
                              "type": "float",
                              "example": "100.492"
                            },
                            "district_id": {
                              "type": "int",
                              "example": "1"
                            },
                            "zip_code": {
                              "type": "int",
                              "example": "10200"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Server ไม่สามารถประมวลผลคำร้องขอเนื่องจากข้อผิดพลาดของ Client",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "No data found"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/addSubDistrict": {
        "post": {
          "tags": [
            "SubDistrict"
          ],
          "summary": "สำหรับบันทึกข้อมูล SubDistrict",
          "description": "สำหรับบันทึกข้อมูลทั้งหมดของ SubDistrict",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "smallint",
                      "example": "100101"
                    },
                    "name_in_thai": {
                      "type": "string",
                      "example": "พระบรมมหาราชวัง"
                    },
                    "name_in_english": {
                      "type": "string",
                      "example": "Phra Borom Maha Ratchawang"
                    },
                    "latitude": {
                      "type": "float",
                      "example": "13.751"
                    },
                    "longitude": {
                      "type": "float",
                      "example": "100.492"
                    },
                    "district_id": {
                      "type": "int",
                      "example": "1"
                    },
                    "zip_code": {
                      "type": "int",
                      "example": "102001"
                    }
                  },
                  "required": [
                    "code",
                    "name_in_thai",
                    "name_in_english",
                    "latitude",
                    "longitude",
                    "district_id",
                    "zip_code"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "บันทึกข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน! || ไม่มี (ข้อมูลอำเภอ) ที่ท่านเลือกกรุณาเพิ่มข้อมูลอำเภอก่อนค่อยมาเพิ่มข้อมูลตำบล! || ค่า Latitude ต้องอยู่ระหว่าง -90 ถึง 90 และเป็นตัวเลขเท่านั้น || ค่า Longitude ต้องอยู่ระหว่าง -180 ถึง 180 และเป็นตัวเลขเท่านั้น || บันทึกข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (code) ข้อมูลตำบล) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_thai) ข้อมูลตำบล) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_english) ข้อมูลตำบล) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/updateSubDistrict/{id}": {
        "put": {
          "tags": [
            "SubDistrict"
          ],
          "summary": "สำหรับอัพเดทข้อมูล SubDistrict",
          "description": "สำหรับอัพเดทข้อมูลทั้งหมดของ SubDistrict",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ SubDistrict ที่ต้องการอัพเดท"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "smallint",
                      "example": "100102"
                    },
                    "name_in_thai": {
                      "type": "string",
                      "example": "วังบูรพาภิรมย์"
                    },
                    "name_in_english": {
                      "type": "string",
                      "example": "Wang Burapha Phirom"
                    },
                    "latitude": {
                      "type": "float",
                      "example": "13.744"
                    },
                    "longitude": {
                      "type": "float",
                      "example": "100.499"
                    },
                    "district_id": {
                      "type": "int",
                      "example": "1"
                    },
                    "zip_code": {
                      "type": "int",
                      "example": "10200"
                    }
                  },
                  "required": [
                    "code",
                    "name_in_thai",
                    "name_in_english",
                    "latitude",
                    "longitude",
                    "district_id",
                    "zip_code"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "อัพเดทข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || กรุณากรอกข้อมูลให้ครบถ้วน || ค่า Latitude ต้องอยู่ระหว่าง -90 ถึง 90 และเป็นตัวเลขเท่านั้น! || ค่า Longitude ต้องอยู่ระหว่าง -180 ถึง 180 และเป็นตัวเลขเท่านั้น! || อัพเดทข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลตำบล) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (code) ข้อมูลตำบล) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_thai) ข้อมูลตำบล) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ! || มี (ข้อมูล (name_in_english) ข้อมูลตำบล) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/removeSubDistrict/{id}": {
        "delete": {
          "tags": [
            "SubDistrict"
          ],
          "summary": "สำหรับลบข้อมูล SubDistrict",
          "description": "สำหรับลบข้อมูลทั้งหมดของ SubDistrict",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ SubDistrict ที่ต้องการลบ"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ลบข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน! || ลบข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ! || Token ไม่ถูกต้อง! || Token นี้ไม่มีสิทธิ์การใช้งาน! || TokenExpiredError! || JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ( Not found )",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มี (ข้อมูลตำบล) อยู่ในระบบ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/getPrefix": {
        "get": {
          "tags": [
            "Prefix"
          ],
          "summary": "สำหรับดึงข้อมูล Prefix",
          "description": "สำหรับดึงข้อมูลทั้งหมดของ Prefix",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "prefix_name": {
                              "type": "string",
                              "example": "admin"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-02-19T08:55:57.000Z"
                            },
                            "created_by": {
                              "type": "string",
                              "example": "ADMIN"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-02-19T08:55:57.000Z"
                            },
                            "updated_by": {
                              "type": "string",
                              "example": "ADMIN"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Server ไม่สามารถประมวลผลคำร้องขอเนื่องจากข้อผิดพลาดของ Client",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource ไม่พบ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "No data found"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/addPrefix": {
        "post": {
          "tags": [
            "Prefix"
          ],
          "summary": "สำหรับบันทึกข้อมูล Prefix",
          "description": "สำหรับบันทึกข้อมูลทั้งหมดของ Prefix",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prefix_name": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "created_by": {
                      "type": "string",
                      "example": "ADMIN"
                    },
                    "updated_by": {
                      "type": "string",
                      "example": "ADMIN"
                    }
                  },
                  "required": [
                    "prefix_name",
                    "created_by",
                    "updated_by"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "บันทึกข้อมูลเสร็จสิ้น!"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "ข้อมูลจาก Client ไม่ถูกต้อง",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Tokenไม่อนุญาติให้ใช้งาน!, กรุณากรอกข้อมูลให้ครบถ้วน! || บันทึกข้อมูลไม่สำเร็จ!"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "การรับรองความถูกต้องล้มเหลว",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "ไม่มีการยืนยันตัวตนด้วย OTP กรุณายืนยันตัวตนก่อนใช้งานระบบ!, Token ไม่ถูกต้อง!, Token นี้ไม่มีสิทธิ์การใช้งาน!, TokenExpiredError!, JsonWebTokenError!"
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "คำร้องขอไม่สามารถดำเนินการได้เนื่องจากขัดแย้งกับสถานะปัจจุบันของทรัพยากรที่ต้องการอัพเดท",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "มี (ข้อมูล (prefix_name) คำนำหน้า) อยู่ในระบบแล้ว ไม่อนุญาตให้บันทึกข้อมูลซ้ำ!"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "ข้อผิดพลาดเซิร์ฟเวอร์",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "internal server errors"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/apiv2/updatePrefix/{id}": {
        "put": {
          "tags": [
            "Prefix"
          ],
          "summary": "สำหรับอัพเดทข้อมูล Prefix",
          "description": "สำหรับอัพเดทข้อมูลทั้งหมดของ Prefix",
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              },
              "description": "Token จากการล็อกอิน ส่งในรูปแบบ Bearer Token"
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              },
              "description": "ID ของ Prefix ที่ต้องการอัพเดท"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prefix_name": {
                      "type": "string",
                      "example": "DELETE"
                    },
                    "updated_by": {
                      "type": "string",
                      "example": "ADMIN"
                    }
                  },
                  "required": [
                    "prefix_name",
                    "updated_by"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "ความสำเร็จทั่วไป",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
[...]
